#pengalaman{
    ul{
        list-style-type: disc;
        padding-left: 20px;
        margin-top: 10px;
    
        li{
            margin-bottom: 20px;
            line-height: 20px;
        }
    }
}