//warna
$primary-color: #00a6ff;
$bg-light: #ffffff;
$text-dark: #121212;
$bg-aside: #ffde59;
$bg-contact: #ff914d;
$dark-mode-bg:#333333;

//font
$font-mono:'JetBrains Mono',Monospace;
$font-sans: 'Segoe UI',Tahoma, Geneva, Verdana, sans-serif;
$font-cursive: 'Silkscreen', cursive;

//spacing
$spacing-sm: 5px;
$spacing-md: 15px;
$spacing-lg: 20px;